html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, form, fieldset, table, tr, td, img {
  font-family: Arial, Helvetica, sans-serif;
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
}

html, body, #root {
  height: 100%;
}

input {
  line-height: 18px;
  font-size: 18px;
  padding: 2px;
  border: 1px inset gray;
  border-radius: 3px;
  box-shadow: 2px 2px 3px inset rgba(0, 0, 0, .25);
}

button {
  border: 1px outset gray;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
  background-color: lightskyblue;
  border-radius: 5px;
  line-height: 18px;
  font-size: 18px;
  padding: 2px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}

button.success {
  background-color: palegreen;
}

button.warning {
  background-color: lightcoral;
}

/* === APP === */

.app-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-component .toggle {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 10px;
}

.app-component .toggle a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.app-component .toggle a:hover {
  text-decoration: none;
}

/* === HEADER === */

.header-component {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: cornflowerblue;
  padding: 5px;
}

.header-component h1 {
  font-size: 16px;
  font-weight: bold;
}

.header-component aside {
  color: navy;
}

/* === TODO-LIST === */

.todo-list-edit-component {
  flex: 1;
  padding: 20px;
}

.todo-list-edit-component h2 {
  padding: 0 0 5px 0;
  margin: 0 0 15px 0;
  font-size: 26px;
  max-width: 400px;
  border-bottom: 1px dashed black;
}

.todo-list-edit-component ul {
  max-width: 600px;
}

.todo-list-edit-component ul + p {
  margin-top: 25px;
}

.todo-list-edit-component p {
  margin-bottom: 10px;
}

.todo-list-edit-component li {
  margin: 10px 0;
  padding: 5px 0 5px 5px;
  box-shadow: 2px 2px 10px inset rgba(0, 0, 0, .15);
  border-radius: 5px;
}

.todo-list-edit-component li .done {
  text-decoration: line-through;
  color: silver;
}

.todo-list-edit-component li span {
  font-size: 20px;
  line-height: 20px;
  display: flex;
}

.todo-list-edit-component li span span {
  flex: 1;
}

.todo-list-edit-component input, .todo-list-edit-component button {
  margin: 0 5px;
}

.todo-list-view-component {
  flex: 1;
}

.todo-list-view-component li {
  font-size: 35px;
  margin: 10px;
}

/* === FOOTER === */

.footer-component {
  padding: 5px;
  font-size: 12px;
  background-color: lightsteelblue;
  color: dimgrey;
  text-align: center;
}

.footer-component em {
  display: inline-block;
  padding: 0 0 0 10px;
  font-weight: bold;
}
